name: Code quality checks
on:
    push:
        branches:
            - master
        tags:
            - "*"
    pull_request:
    workflow_dispatch:

jobs:
    prettier:
        name: Prettier
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1
            - uses: bahmutov/npm-install@v1

            - run: npm run lint
    ruff:
        name: Lint codebase with ruff (black, isort and flake8 alternative)
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v4
            -   uses: actions/setup-python@v5
                with:
                    python-version: '3.12'
            -   name: Install dependencies
                run: pip install tox
            -   run: tox
                env:
                    TOXENV: ruff
                    FORCE_COLOR: '1'
